.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.gradient {
  background:
  linear-gradient(180deg, #000814, transparent),
  linear-gradient(67deg, #333, transparent),
  linear-gradient(280deg, #222831, transparent)
}

.wave {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.wave svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 70px;
}

.wave .shape-fill {
  fill: #FFFFFF;
}

.nav-link {
  font-size: 1.25rem;
}

.bear-icon{
  width: 300px;
  height: 300px;
  margin: 0 auto 2rem;
}

.myname{
  color: #FAED26;
  font-size: 4rem;
}
@media screen and (max-width: 1200px){
  .bear-icon {
    width: 275px;
    height: 275px;
    margin: 0 auto 2rem;
  }

  .myname{
    color: #FAED26;
    font-size: 3.5rem;
  }
}

@media screen and (max-width: 600px) {
  .bear-icon {
    width: auto;
    height: 50vw;
    margin: 0 auto 2rem;
  }

  .myname{
    color: #FAED26;
    font-size: 2.5rem;
  }
}
