<section id = "about">
  <div style="margin-bottom: -2px" class="d-flex flex-column pb-5" >
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          <h5 class="text-center text-muted">Get to know more</h5>
          <h1 class=" text-center">About Me</h1>
        </div>
      </div>
    </div>


    <div class="container my-auto">
      <div class="row d-flex justify-content-between">
        <div class="col-md-4 d-flex justify-content-center">
          <img src="../assets/prof-pic-removebg-preview.png"
          alt=""
          class="img-fluid rounded rounded-circle border border-dark border-2">
        </div>
        <div class="col-md-8 d-flex align-items-center mt-4"  data-aos="fade-up">
          <p class="text-justify"> I am a full-stack developer who transitioned from being a medical student after discovering my interest in programming. I am constantly learning, relearning and reinventing myself by being curious asking "Why does this work?", "How can this be better?" and "How did I end up on this Wikipedia article?". Currently I have 1.5 years of experience as a developer.
          </p>
        </div>
      </div>
    </div>

  </div>
</section>
