<section id="contact">
  <div style="background-color: #343434; height: 70vh; position: relative;" class="d-flex align-items-center">
    <div class="container">
      <div class="row mt-5">
        <div class="col-12" >
          <h5 class="text-center" style="color: #dee2e6;" >Get in Touch</h5>
          <h1 class="text-center text-warning">Contact Me</h1>
        </div>
      </div>
      <div class="row justify-content-center mt-5">
        <div class="col-lg-6 col-10 border border-2 border-light rounded-pill p-3 d-flex align-items-center">
          <div class="row w-100 d-flex justify-content-center">
            <div class="col-sm-auto text-sm-center ">
              <i class="ri-mail-fill text-warning fs-3"></i>
              <a href="mailto:weiyan.toh@gmail.com" style="text-decoration: none;" class="ms-3">
                <span class="text-white fs-5 ">weiyan.toh@gmail.com</span>
              </a>
            </div>
            <div class="col-sm-auto text-sm-center ">
              <i class="ri-linkedin-box-fill text-warning fs-3"></i>
              <a href="https://www.linkedin.com/in/wei-yan-toh-84370025b/" style="text-decoration: none;" class="ms-3" target="_blank">
                <span class="text-white fs-5">LinkedIn</span>
              </a>
            </div>
          </div>

        </div>
      </div>

      <div class="row justify-content-center">
        <div class="text-center" style="position: absolute; bottom: 5px; width: 100%;">

          <p
          class=" mb-0"
          style="color: #dee2e6; font-size: 14px;">
          Built with Angular by Wei Yan</p>

          <p
          class="mt-0 pt-0"
          style="color: #dee2e6; font-size: 14px;">
          For WhooshPro Demo</p>

        </div>
      </div>

    </div>
  </div>
</section>
