<section id="skills">
  <div style="margin-bottom: -2px" class="d-flex flex-column py-5" >
    <div class="container">
      <div class="row mt-5">
        <div class="col-12">
          <h5 class="text-center text-muted">Here are my</h5>
          <h1 class=" text-center">Skills</h1>
        </div>
      </div>

      <div class="row mt-4">


        <div class="col-md-4 my-3" id="frontend" data-aos="fade-right">
          <div class="card border border-2 border-dark"

           >
            <div class="card-body">
              <h2 class="card-title">Frontend</h2>

              <p class="fs-5 mt-3"><i class="ri-html5-fill"></i> HTML</p>
              <p class="fs-5"><i class="ri-css3-fill"></i> CSS</p>
              <p class="fs-5"><i class="ri-javascript-fill"></i> Javascript</p>
              <p class="fs-5"><img src="../../assets/ts.svg" alt="" class="icon"> Typescript</p>
              <p class="fs-5"><i class="ri-angularjs-fill" ></i> Angular</p>
              <p class="fs-5"><i class="ri-bootstrap-fill" ></i> Bootstrap</p>


            </div>
          </div>
        </div>

        <div class="col-md-4 my-3 " id="backend">
          <div class="card border border-2 border-dark h-100">

            <div class="card-body">
              <h2 class="card-title">Backend</h2>

              <p class="fs-5 mt-3"><i class="ri-nodejs-fill"></i> Node</p>
              <p class="fs-5"><img src="../../assets/expressjs-icon.svg" alt="" class="icon"> Express</p>
              <p class="fs-5"><img src="../../assets/nestjs.svg" alt="" class="icon"> Nest JS</p>
              <p class="fs-5"><i class="ri-database-2-fill"></i> PostgreSQL</p>
              <p class="fs-5"><i class="ri-database-2-fill"></i> Microsoft SQL</p>
            </div>
          </div>
        </div>

        <div class="col-md-4 my-3" id="tools"  data-aos="fade-down">
          <div class="card border border-2 border-dark h-100">

            <div class="card-body">
              <h2 class="card-title">Tools</h2>
              <p class="fs-5 mt-3"><i class="ri-firebase-fill"></i> Firebase</p>
              <p class="fs-5"><i class="ri-github-fill"></i> Github</p>
              <p class="fs-5"><img src="../../assets/git-svgrepo-com.svg" alt="" class="icon"> Git</p>
              <p class="fs-5"><img src="../../assets/docker-scg.svg" alt="" class="icon"> Docker</p>
            </div>
          </div>
        </div>
      </div>

    </div>


  </div>
</section>

